.mblock_wrapper {
    margin: auto;
    padding: 0
}

.mblock_wrapper > div {
    border: 1px solid #bfe0d8;
    background: #f1fcfa;
    /*color: #1C94C4;*/
    margin: 0 0 10px 0;
    padding: 20px 15px 15px 25px;
    position: relative
}

.mblock_wrapper span.sorthandle {
    cursor: move;
    position: absolute;
    opacity: .5;
    top: 5px;
    bottom: 5px;
    left: 4px;
    width: 8px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAB3RJTUUH3wIDBycZ/Cj09AAAAAlwSFlzAAALEgAACxIB0t1+/AAAAARnQU1BAACxjwv8YQUAAAAWSURBVHjaY2DABhoaGupBGMRmYiAEAKo2BAFbROu9AAAAAElFTkSuQmCC)
}

.mblock_wrapper span.sorthandle:hover {
    opacity: .8
}

div.sortable-ghost {
    border: 1px dashed #CCC;
    opacity: .4
}

.mblock_wrapper span.removeadded {
    position: absolute;
    right: 15px;
    top: 9px;
}

.mblock_wrapper span.removeadded .btn {
    cursor: pointer;
}

.mblock_wrapper span.removeadded .btn[disabled] {
    cursor: default;
}

.mblock_wrapper span.removeadded .btn .rex-icon {
    margin: 0 !important;
}

.mblock_wrapper > div:after, .mblock_wrapper > div:before {
    content: "";
    display: table
}

.mblock_wrapper > div:after {
    clear: both
}

.mblock_wrapper > div {
    zoom: 1
}

.mblock_animate {
    -webkit-transition: opacity 249ms linear, top 149ms ease;
    -moz-transition: opacity 249ms linear, top 149ms ease;
    transition: opacity 249ms linear, top 149ms ease;
}

.panel.mblock-hidden-panel {
    background: inherit;
    border: inherit;
    margin: inherit;
}