*{
	font-family: 'PT Sans', sans-serif;
}
@import "bootstrap/bootstrap";  
@import "breakpoint";  
@import "settings";
@import "header";
@import "content"; 
@import "footer"; 

.clear{
	border:0px;
	clear: both;
    height: 0px;
    margin: 0px; 
}
#wrapper { 
    margin: 0 auto;
    width: 1230px;    
    @include breakpoint($largedesktop){
    	width:85%;    
    }   

    @include breakpoint($minitablet){
    	width:80%;  
    }  
@include breakpoint($landscape){
    	width:75%;   
    }  

 
}  

 